"*":
  core:
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      ".pioenvs"
      ".piolibdeps"
      ".clang_complete"
      ".gcc-flags.json"
    ]
  editor:
    fontSize: 17
  "exception-reporting":
    userId: "49351917-2606-017b-4f50-f4c8f3c1c645"
  "git-plus":
    general:
      _analyticsUserId: "928e80d5-69c7-45c1-9af0-7aa5da33449d"
  "highlight-line":
    enableSelectionBorder: true
  minimap: {}
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  "platformio-ide-terminal":
    core:
      autoRunCommand: "export PATH=/home/ivan/.atom/packages/platformio-ide/penv/bin:/home/ivan/Android/Sdk/platform-tools:/home/ivan/Android/Sdk/tools:/home/ivan/bin:/opt/robomongo/bin:/opt/prebuilts/gcc/linux-x86/mips/mipsel-linux-android-4.6/bin:/opt/mips-4.3/bin:/usr/local/bin:/usr/bin:/bin:/usr/local/games:/usr/games"
  "tool-bar":
    position: "Left"
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
