"*":
  "atom-terminal": {}
  "atom-ternjs":
    useSnippets: true
  core:
    disabledPackages: [
      "activate-power-mode"
      "vim-mode"
      "fold-lines"
    ]
    themes: [
      "atom-material-ui"
      "atom-dark-syntax"
    ]
  editor: {}
  "exception-reporting":
    userId: "77e420b4-6654-f917-6e08-bbf76c67f1f8"
  "git-plus":
    general:
      _analyticsUserId: "3fad824a-bb8d-42be-a7b8-edc9fc2f0f05"
  linter:
    showErrorInline: false
  minimap:
    plugins:
      pigments: true
      pigmentsDecorationsZIndex: 0
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    syncHorizontalScroll: true
  welcome:
    showOnStartup: false
