packages: [
  "activate-power-mode"
  "aligner"
  "aligner-python"
  "atom-beautify"
  "atom-live-server"
  "atom-material-syntax"
  "atom-material-ui"
  "atom-runner"
  "atom-terminal"
  "atom-ternjs"
  "autoclose-html"
  "autocomplete-clang"
  "autocomplete-json"
  "autocomplete-paths"
  "autocomplete-python"
  "autocomplete-xml"
  "browser-plus"
  "busy"
  "es6-javascript"
  "file-icons"
  "fold-lines"
  "git-clone"
  "git-control"
  "git-plus"
  "git-status"
  "git-time-machine"
  "git-tools"
  "highlight-line"
  "highlight-selected"
  "jumpy"
  "linter"
  "linter-js-standard"
  "linter-pep8"
  "linter-pycodestyle"
  "merge-conflicts"
  "meteor-api"
  "meteor-helper"
  "minimap"
  "minimap-pigments"
  "open-in-browser"
  "open-in-external-app"
  "package-sync"
  "pigments"
  "python-jedi"
  "python-terminal"
  "script"
  "terminal-plus"
  "turbo-javascript"
  "vim-mode"
]
