packages: [
  "atom-material-ui"
  "autocomplete-clang"
  "autocomplete-ionic2-framework"
  "autocomplete-json"
  "autocomplete-meteor-packages"
  "build"
  "busy"
  "file-icons"
  "git-plus"
  "goto-definition"
  "goto-last-edit"
  "highlight-line"
  "language-ini"
  "language-mongodb"
  "linter"
  "linter-gcc"
  "linter-write-good"
  "meteor-api"
  "meteor-helper"
  "meteor-snippets"
  "minimap"
  "package-sync"
  "platformio-ide"
  "platformio-ide-terminal"
  "pretty-json"
  "run-command"
  "script"
  "terminal-plus"
  "tool-bar"
  "turbo-javascript"
]
